$cart_menu_width: 33vw;
$nav_menu_width: 33vw;

.nav {
  &.menu-active {
    .nav__menu {
      transform: translate3d(0, 0, 0);
    }
  }

  //

  &__menu {
    @include xs {
      transform: translate3d(100vw, 0, 0);

      width: 100vw;
    }

    transform: translate3d(-$nav_menu_width, 0, 0);

    width: $nav_menu_width;
  }
}
